@import "../../assets/css/styles.css";
@import "../../assets/css/root.scss";

.countdown{
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -2rem;
    margin-left: -2rem;


    &__txt{
        padding-left: 1rem;
        padding-right: 1rem;
        // color: #FFFFFF;
        font-family: 'Playball', cursive;
        font-size: 34px;
        text-align: center;
        box-sizing: border-box;
        display: table-cell;
        vertical-align: middle;
        @media screen and (max-width:475px) {
            width: 6rem;
        }
        width: 10rem;

        &--day{
            font-size: 14px;
        }
    }
}