@import "../../assets/css/styles.css";
@import "../../assets/css/root.scss";


@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
.location{
    &__images{
        background-image: url('../../assets/img/gallery_img--06.jpg');
        background-repeat: no-repeat;
         background-size: cover;
        position: relative;
        background-position: center center;
        width: 100%;
        background-attachment: fixed;
        @media screen and (max-width:769px) {
            background-attachment: scroll;
        }
            /*  This is what makes the effect work. So that when we scroll the image, it retains its min-height with its attatchment fixed  */
        filter: opacity(0.8) brightness(0.8);
        
    }
    &__text{
         @media screen and (max-width:769px) {
            padding: 2rem 0;
        }
        padding: 7rem 0;
        box-sizing: border-box;
        text-align: center;
        color: var(--color-1);

        &--p{
            font-size: 2rem;
        }
    }

    & .hdg-lv2{
        color: var(--color-1);
        font-size: 5rem;
        text-transform: capitalize;
        font-weight: 100;
        font-family: 'Playball', cursive;

    }
}
