@import "../../assets/css/styles.css";
@import "../../assets/css/root.scss";


.rouse_bg{
    // background-image: url('../../assets/img/location-icon3.png');

   height: 200px;
//    &::before{
//     //  content: url('../../assets/img/location-icon3.png');
//      width: 100px;
     
//    }
}
.rouse01{
    position: absolute;
    top: 1px;
}