@import "../../assets/css/styles.css";
@import "../../assets/css/root.scss";


.wrp-box__content{
		position: relative;
}
.box-mainvisual{
	position: relative;
	 &__bg{
		position: relative;
		height: 80rem;
		padding-bottom: 0;
		
	 }
	 &__border{
		padding-top: 10rem;
		position: relative;
		display: flex;
		width: 100%;
		
		// overflow: hidden;

		 &::before{
			@media screen and (max-width:1200px) {
				max-width: 100%;
				overflow: hidden;
				}
				content: url('../../assets/img/header-border-top.png');
				// background-image: url('../../assets/img/header-border-top.png');
				background-size: cover;
				position: absolute;
				top: 5rem;
				display: inline-block;
			}
			&::after {
				@media screen and (max-width:1200px) {
						max-width: 100%;
						overflow: hidden;
					}
				content: url('../../assets/img/header-border-top.png');
				transform: rotate(180deg);
				display: inline-block;
				position: absolute;
				right: 0;
				top: 6.7rem;
			}
	 }
	 &__txt{
			width: 100%;

			 &--bride{
				position: absolute;
				top: 16rem;
				left: 12rem;
				@media screen and (max-width:950px) {
					text-align: center;
					margin-top: 10rem;
					position: unset;
				}
			}
			&--groom {
				position: absolute;
				top: 50rem;
				right: 18rem;
				@media screen and (max-width:950px) {
						text-align: center;
						margin-top: 5rem;
						position: unset;
					}
			}
			
			& .hdg-lv2 {
				color: var(--color-1);
				font-size: 5rem;
				font-family: var(--font-1);
				border-bottom: none;
				@media screen and (max-width:769px) {
					font-size: 3rem;
				}
				@media screen and (max-width:375px) {
					font-size: 2rem;
				}
			}
	}
	&__rings {
		&::before {
			content: url('../../assets/img/main-arrow-rings.svg');
			margin: 0 auto;
			display: block;
			text-align: center;
			margin-top: 22rem;
			@media screen and (max-width:950px) {
				margin-top: 0rem;
			}
			// @media screen and (max-width:800px) {
					
			// }
		}
	}
	&__text {
		overflow-wrap: anywhere;
		white-space: pre-wrap;

		font-weight: bold;
		text-transform: uppercase;
	}
}
